# Datei: /GuessTheGroove/.htaccess

<IfModule mod_rewrite.c>
    RewriteEngine On

    # Wenn der Zugriff NICHT schon auf den "public" Ordner geht...
    RewriteCond %{REQUEST_URI} !^/public/

    # ...leite alles in den "public" Ordner weiter.
    RewriteRule ^(.*)$ public/$1 [L]
</IfModule>